.exp-page {
  overflow: hidden;
  .content {
    position: relative;
    &::before {
      content: "";
      height: 68%;
      width: 10%;
      position: absolute;
      top: 10%;
      right: -5%;
      z-index: -2;
      border-radius: 100px;
      background-color: transparent;
      outline: 35px solid $--light-beige;
      outline-offset: 95px;
    }
    &::after {
      content: "";
      height: 68%;
      width: 10%;
      position: absolute;
      top: 10%;
      right: -5%;
      z-index: -2;
      border-radius: 100px;
      background-color: transparent;
      border: 35px solid $--light-beige;
      outline: 35px solid $--light-beige;
      outline-offset: 30px;
    }
  }
}
