.exp-page {
  .exp-item {
    position: relative;
    transition: 0.1s;
    &::before {
      content: "";
      height: 1px;
      width: 50%;
      position: absolute;
      top: 0;
      left: 25%;
      background-color: rgba($color: $--light-gray, $alpha: 0.5);
    }
    &:hover {
      background: rgba(0, 0, 0, 0.02);
      border-radius: 15px;
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.01);
    }
  }
}
