.btn {
  padding: 15px 35px;
  color: $--white;
  transition: $--smooth;
  border-radius: 50px;
  &:hover {
    transform: translateY(-3px);
    color: $--white;
    // box-shadow: 0 0.08rem 0.8rem $--light-pink;
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
  &.solid-pink {
    background-color: $--light-pink;
    &:hover {
      box-shadow: 0 0.08rem 0.8rem $--light-pink;
    }
  }
  &.solid-beige {
    background-color: $--beige;
    &:hover {
      box-shadow: 0 0.08rem 0.8rem $--beige;
    }
  }
  &.light-pink {
    background-color: transparent;
    color: $--light-pink;
    border: 3px solid $--light-pink;
    &:hover {
      box-shadow: 0 0.08rem 0.8rem $--light-pink;
    }
  }
  &.light-beige {
    background-color: transparent;
    color: $--beige;
    border: 3px solid $--beige;
    &:hover {
      box-shadow: 0 0.08rem 0.8rem $--beige;
    }
  }
  &.light-white {
    background-color: transparent;
    color: $--white;
    border: 3px solid $--white;
    &:hover {
      box-shadow: 0 0.08rem 0.8rem $--white;
    }
  }
}
