.homepage {
  .about {
    background-image: url(../../../../assets/images/pic2.png);
    background-repeat: no-repeat;
    background-size: contain, cover;
    .content {
      .desc {
        width: 55%;
      }
      .skill {
        width: 35%;
      }
    }
  }
}
