@import "./variables.scss";

@import "./pages/layout.scss";
@import "./partials/header.scss";
@import "./partials/footer.scss";
@import "./partials/button.scss";
@import "./partials/intro.scss";
@import "./partials/aboutMe.scss";
@import "./partials/sectionTitle.scss";
@import "./partials/projectItem.scss";

a {
  text-decoration: none;
  transition: $--smooth;
  &:hover {
    color: $--light-pink;
  }
}
