@import "./variables.scss";

@import "../layout/layout.scss";
@import "../pages/HomePage/homepage.scss";

@import "../components/Header/header.scss";
@import "../components/Footer/footer.scss";
@import "../components/Button/button.scss";
@import "../components/Carousel/carousel.scss";
@import "../components/ItemCard/itemCard.scss";
@import "../components/BackToTopButton/backToTopButton.scss";

@import "../pages/HomePage/component/Intro/intro.scss";
@import "../pages/HomePage/component/AboutMe/aboutMe.scss";
@import "../pages/HomePage/component/SectionTitle/sectionTitle.scss";
@import "../pages/HomePage/component/Experience/experience.scss";
@import "../pages/HomePage/component/Experience/experienceItem.scss";
@import "../pages/HomePage/component/Projects/project.scss";
@import "../pages/HomePage/component/Projects/projectItem.scss";

@import "../pages/ProjectPage/components/IntroProject/introProject.scss";
@import "../pages/ProjectPage/components/ContentProject/contentProject.scss";

@import "../pages/ExperiencePage/components/IntroExp/introExp.scss";
@import "../pages/ExperiencePage/components/ContentExp/expItem.scss";
@import "../pages/ExperiencePage/components/ContentExp/contentExp.scss";

a {
  text-decoration: none;
  transition: $--smooth;
  &:hover {
    color: $--light-pink;
  }
}
