@import "./variables.scss";

@import "./pages/layout.scss";
@import "./pages/homepage.scss";
@import "./partials/header.scss";
@import "./partials/footer.scss";
@import "./partials/button.scss";
@import "./partials/carousel.scss";
@import "./partials/itemCard.scss";
@import "./partials/backToTopButton.scss";

@import "../pages/HomePage/component/Intro/intro.scss";
@import "../pages/HomePage/component/AboutMe/aboutMe.scss";
@import "../pages/HomePage/component/SectionTitle/sectionTitle.scss";
@import "../pages/HomePage/component/Experience/experience.scss";
@import "../pages/HomePage/component/Experience/experienceItem.scss";
@import "../pages/HomePage/component/Projects/project.scss";
@import "../pages/HomePage/component/Projects/projectItem.scss";

@import "../pages/ProjectPage/components/Intro/intro.scss";
@import "../pages/ProjectPage/components/Content/content.scss";

@import "../pages/ExperiencePage/components/IntroExp/introExp.scss";
@import "../pages/ExperiencePage/components/ContentExp/expItem.scss";
@import "../pages/ExperiencePage/components/ContentExp/contentExp.scss";
a {
  text-decoration: none;
  transition: $--smooth;
  &:hover {
    color: $--light-pink;
  }
}
