.about {
  height: 70vh;
  padding: 100px 0;
  background-image: url(../../assets/images/bg16.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .content {
    width: 65%;
  }
  .ava {
    width: 35%;
  }
}
