.slick-slider {
  margin: 20px 0;
  position: relative;
  .slick-dots {
    position: absolute;
    bottom: -10px;
  }
  .slick-arrow {
    width: max-content;
    height: max-content;

    &::before {
      color: rgba($color: $--black, $alpha: 0.5);
      //   font-size: 1.5rem;
    }
    &.slick-prev {
      &::before {
        margin-right: 30px;
      }
    }
  }
  .slick-list {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 0.5rem rgba($color: $--black, $alpha: 0.1);
    .carousel-item {
      padding: 0 20px;
      background-image: url(../../assets/images/bg2.png);
      height: 200px;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}
