@import "../variables.scss";

.header {
  height: 7vh;
  box-shadow: 0 0 0.8em $--light-gray;
  background-color: $--white;
  .logo {
    .ava {
      width: 50px;
      height: 50px;
      border: 1px solid $--light-gray;

      &__img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
}
